.facts {
  background: $green;
  color: white;
  h3 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 2rem;
  }
}

.facts--fact {
  margin: 2.5rem 0;
}

.facts--map {
  margin-top: 1.5rem;
  width: 560px;
  max-width: 100%;
  float: right;
}
