@font-face {
    font-family: 'tofino_regular';
    src: url('/assets/fonts/tofino-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/tofino-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tofinoregular_italic';
    src: url('/assets/fonts/tofino-regularitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/tofino-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tofinobold';
    src: url('/assets/fonts/tofino-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/tofino-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tofinobold_italic';
    src: url('/assets/fonts/tofino-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/tofino-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
